
<div class="container">
<h2>Welcome to Our Off-Desk Service</h2>



<mat-card>
<mat-card-content>
  <p>A service is an "(intangible) act or use for which a consumer, firm. or government is willing to pay."[1] Examples include work done by barbers, doctors, lawyers, mechanics, banks, insurance companies, and so on. Public services are those that society (nation state, fiscal union or region) as a whole pays for. Using resources, skill, ingenuity, and experience, service providers benefit service consumers. Service is intangible in nature. Services may be defined as acts or performances whereby the service provider provides value to the customer.</p>
</mat-card-content>
</mat-card>
</div>