<div class="bootstrap-wrapper">
    <mat-card>
    <h2>!! Welcome to Manager Panel !!</h2>
   
    <button mat-raised-button class="mat-button-d" color="white"  (click)="getEmployeeByManagerEmailWithWaiting()">Waiting Employees For Leave</button>
    <button mat-raised-button class="mat-button-d" color="white"  (click)="getAllEmployeeWithApproveOrreject()">History of Employees</button>  
    <a routerLink="/SendMail"><button class="mat-button-d"   mat-raised-button color="white" >Send Mail</button></a> 
    <a href="https://mail.google.com/mail/u/0/#inbox"><button class="mat-button-d"   mat-raised-button color="white" >See Notification</button></a> 
    </mat-card>
    <div >  
     <img  *ngIf="!tempVar && !tempVar1"  src="assets\undraw_welcome_cats_thqn.svg" style="width: 30%; margin-left: 400px; margin-top: 80px;">
    </div>
    
    
</div>
<div *ngIf="tempVar">
<mat-card>

    <table id="customers">
        <thead>
        <th>User-Id</th>    
        <th>User-Name</th>
        <th>Email</th>
        <th>Employee Leave Record</th>
        </thead>
        <tbody>
            <tr *ngFor="let x of AllEmployeeByManager">
            <td>UI-{{x.userId}}</td>   
            <td>{{x.userName}}</td>
            <td>{{x.email}}</td>
                  
              <table>
                  <th>StartDate</th>
                  <th>EndDate</th>
                  <th>leaveBalance</th>
                  <th>ExtraLeave</th>
                  <th>LeaveStatus</th>
                  <th>Leave Purpose</th>
                  <th>Approve</th>
                  <th>Reject</th>
               <ng-container *ngFor="let y of x?.leaveDetails">
                <tr>
                 <td>{{y.fromDate}}</td> 
                 <td>{{y.endDate}}</td> 
                 <td>{{y.leaveBalance}}</td>
                 <td>{{y.extraLeave}}</td>
                 <td>{{y.leaveStatus}}</td>
                 <td>{{y.leavePurpose}}</td>
                 <td><button mat-raised-button color="primary" (click)="ApproveLeave(y.leaveId)">Approve</button></td>
                 <td><button mat-raised-button color="accent"  (click)="RejectLeave(y.leaveId)">Reject</button></td>
                 </tr>
                </ng-container>
            </table>
        </tbody>   
    </table>
</mat-card>
</div>
<div *ngIf="tempVar1">
    <mat-card>
    
        <table id="customers">
            <thead>
            <th>User-Id</th>    
            <th>User-Name</th>
            <th>Email</th>
            <th>Employee Leave Record</th>
            </thead>
            <tbody>
                <tr *ngFor="let x of AllEmployeeWithRejectAnWait">
                <td>UI-{{x.userId}}</td>   
                <td>{{x.userName}}</td>
                <td>{{x.email}}</td>
                      
                  <table>
                      <th>StartDate</th>
                      <th>EndDate</th>
                      <th>leaveBalance</th>
                      <th>ExtraLeave</th>
                      <th>Total Leave</th>
                      <th>Taken Leave</th>
                      <th>LeaveStatus</th>
                      <th>Leave Purpose</th>
                     
                     <ng-container *ngFor="let y of x?.leaveDetails">
                    <tr>
                     <td>{{y.fromDate}}</td> 
                     <td>{{y.endDate}}</td> 
                     <td>{{y.leaveBalance}}</td>
                     <td>{{y.extraLeave}}</td>
                     <td>{{y.totalLeave}}</td>
                     <td>{{y.takenLeave}}</td>
                     <td>{{y.leaveStatus}}</td>
                     <td>{{y.leavePurpose}}</td>
                    </tr>
                    </ng-container>
                </table>
            </tbody>   
        </table>
    </mat-card>
    </div>