.container{
    text-align: center;
    padding-top: 40px;
}
.field{
    width: 100%;
}
.card{
    width: 60%;
    margin: auto;
}
.text-center{
    text-align: center;
}
.card button{
    margin: 10px;
}