
<div class="container">
   <mat-card style="width: 700px; margin-left: 250px;">
   <div class="card">
    <form (ngSubmit)="doSubmit()">
    <h2>Compose Mail</h2>
    <mat-form-field appearance="outline" class="field">
      <mat-label>From</mat-label>
      <input name="fromMail" [(ngModel)]="data.fromMail" matInput>
   </mat-form-field>
   
    <mat-form-field appearance="outline" class="field">
        <mat-label>To</mat-label>
        <input name="toMail" [(ngModel)]="data.toMail" matInput>
      </mat-form-field>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Subject</mat-label>
        <input name="subjectMail" [(ngModel)]="data.subjectMail" matInput>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline">
        <mat-label>Write here Your Message</mat-label>
        <textarea name="bodyMail" [(ngModel)]="data.bodyMail" matInput placeholder="type here main content..."></textarea>
      </mat-form-field>
   <div class="text-center">
    <button type="submit" mat-raised-button color="primary">Send</button>
    <button type="reset" mat-raised-button color="accent">Reset</button>
   </div>
   
</form>
   </div>
</mat-card>
</div>

